@page "/"

<h2>Blazor WebAssembly by Example</h2>
<h3>Chapter 9</h3>
This project includes the following pages:
<ul>
    <li><b>Home</b>: This page.</li>
    <li><b>Event Handling</b>: Demonstrates event handling in Blazor.</li>
    <li><b>Lamda Expressions</b>: Demonstrates the use of lambda expressions.</li>
    <li><b>FocusAsync</b>: Demonstrates the use of FocusAsync in Blazor.</li>
    <li><b>Attribute Splatting</b>: Demonstrates the attribute splatting in Blazor.</li>
    <li><b>Arbitrary Parameters</b>: Demonstrates the arbitrary parameters in Blazor.</li>
</ul>
