@page "/"

<PageTitle>Home</PageTitle>

<h2>Blazor WebAssembly by Example</h2>
<h3>Chapter 5</h3>
This project includes the following pages:
<ul>
    <li><b>Home</b>: This page.</li>
    <li>
        <b>Inline Script</b>: This page demonstrates how to use JavaScript interop to call an inline JavaScript function.
    </li>
    <li>
        <b>External Global Script</b>: This page demonstrates how to use JavaScript interop to call a JavaScript function from an external file.
    </li>
    <li>
        <b>Scrolling Example</b>: This page demonstrates how to use JavaScript interop to call a collocated JavaScript function.
    </li>
    <li>
        <b>Synchronous Example</b>: This page demonstrates how to use synchronous JavaScript interop to call a JavaScript function that displays
        the width of the browser window. 
    </li>
    <li>
        <b>Resize Example</b>: This page demonstrates how to use bidirectional JavaScript interop to allow JavaScript to call back into C# when the browser
        window is resized.
    </li>
</ul>
