@page "/"

<h2>Blazor WebAssembly by Example</h2>
<h3>Chapter 3</h3>
This project includes the following pages:
<ul>
    <li><b>Home</b>: This page.</li>
    <li><b>Throw Exceptions</b>: Demonstrates how to handle exceptions in Blazor.</li>
    <li><b>Logging</b>: Demonstrates how to implement logging in Blazor.</li>
</ul>

