@page "/"

<h2>Blazor WebAssembly by Example</h2>
<h3>Chapter 10</h3>
This project includes the following pages:
<ul>
    <li><b>Home</b>: This page.</li>
    <li><b>Input File Example</b>: An example of using the InputFile component to upload files.</li>   
    <li><b>Upload Image</b>: An example of using the InputFile component to upload and resize an image file.</li>
    <li><b>Multiple Files</b>: An example of using the InputFile component to upload multiple files.</li>
    <li><b>Using Virtualization</b>: An example of using the Virtualize component to efficiently render a large list of items.</li>
    <li><b>Weather Grid</b>: An example of using the QuickGrid component to display and sort a large list of weather records.</li>
    <li><b>Read Sheet Names</b>: An example of using the Open XML SDK to read the names of the sheets in an Excel file.</li>
    <li><b>Read First Cells</b>: An example of using the Open XML SDK to read the first cell of each sheet in an Excel file.</li>
</ul>

