<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ch9_App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="event-handling">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Event Handling
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lamda-expressions">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Lamda Expressions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="focus">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> FocusAsync
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="attribute-splatting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Attribute Splatting
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="arbitrary-parameters">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Arbritrary Parameters
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
