@page "/hello-examples"
@using Ch2_App.Shared

<h1>Hello Examples</h1>
<p>This component demonstrates the two hello components.</p>

<Hello Text="World"></Hello>
<Hello2 Text="Blazor"></Hello2>