@page "/"

<h2>Blazor WebAssembly by Example</h2>
<h3>Chapter 2</h3>
This project includes the following pages:
<ul>
    <li><b>Home</b>: This page.</li>
    <li><b>Hello Examples</b>: Examples of hello world components.</li>
    <li><b>Routing Example</b>: An example of routing and route parameters.</li>
    <li><b>Error</b>: An example of error handling and error boundaries.</li>
    <li><b>Conditionals</b>: An example of conditional rendering.</li>
    <li><b>Loops</b>: Examples of various types of loops.</li>
</ul>
