@page "/loops"
@inject HttpClient Http

<h1>Loops</h1>
<p>This component demonstrates the various types of loops.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>for loop</h2>
    @for (var i = 0; i < forecasts.Count(); i++)
    {
        <div>@forecasts[i].Summary</div>
    }

    <h2>foreach loop</h2>
    @foreach (var forecast in forecasts)
    {
        <div>@forecast.Summary</div>
    }

    <h2>while loop</h2>
    @while (i < forecasts.Count())
    {
        <div>@forecasts[i].Summary</div>
        i++;
    }

    i = 0; // Reset i for the next loop

    <h2>do while loop</h2>   
    @do
    {
        <div>@forecasts[i].Summary</div>
        i++;
    } while (i < forecasts.Count());
}

@code {
    private WeatherForecast[]? forecasts;
    private int i = 0;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
