<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ch5_App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inline-example">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Inline Script
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="external-example">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> External Global Script
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scrolling">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Scrolling Example
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="synchronous-example">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Synchronous Example
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resize">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Resize Example
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
